<div class="dash-flex-container">

  <div class="dash-flex1">
    <%= render "rants/new_rant_form" %>
  </div>

  <div class="dash-flex2">
    <h1 class="text-center rant-label">Favorite Rants</h1>
    <hr>

    <%= render "favorite_rants" %>

  </div>

</div>