<%= render "flash_notice" %>

<div class="dash-flex-container">

  <div class="dash-flex1">
    <%= render "new_rant_form" %>
  </div>

  <div class="dash-flex2">
    <h1 class="text-center rant-label">Latest Rants</h1>
    <hr>
    <%= render "latest_rants" %>
    <hr class="end-of-latest-rant">
    <h1 class="text-center rant-label">My Rants</h1>
    <%= render "my_rants" %>
  </div>

</div>
