

<% current_user.interestingranters.each do |ranter| %>
<%= ranter.ranter.first_name %> <%= ranter.ranter.last_name %>
  <h1><%= link_to "unfollow", user_interestingranter_path(current_user, ranter.ranter_id), method: :delete %></h1>
<% end %>