<% @interesting_ranters.each do |ranter| %>

    <div class="following-ranter-flex">
      <div class="latest-ranter-name"><%= ranter.ranter.first_name %> <%= ranter.ranter.last_name %></div>
      <div class="dash-profile-picture"><%= image_tag("jeff.png") %></div>
      <%= follow_button ranter.ranter %>
    </div>

<% end %>
