<div class="dash-flex-container">

  <div class="dash-flex1">
   <%= render "rants/new_rant_form" %>
  </div>

  <div class="dash-flex2">

    <h1 class="text-center rant-label">Following</h1>
    <hr>
    <br>

    <div class="following-ranters-container">
      <%= render "interesting_ranters" %>
    </div>

  </div>
</div>