.login-form {
  display: block;
  background-color: white;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;

  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    margin-top: 5px;
    width: 100%;
  }

  ul {
    padding: 10px;
  }

  input {
    width: 100%;
  }
}

ul, menu, dir {
  list-style-type: none;

}