#search {
  width: 80%;
  height: 36px;
}

.search-button {
  color: white;
  text-decoration: none;
  background-color: green;
  border: thin solid gray;
  border-radius: 3px;
  font-size: 18px;
  padding: 6px 40px 6px 40px;
}