@import "navbar_links";
@import "homepage";
@import "join";
@import "login";
@import "following";
@import "search";
@import "favorites";
@import "dashboard";

.rant-errors {
  color: white;
  margin-bottom: 20px;

}

.topic-errors {
  color: white;
  margin-bottom: 20px;
}

.commentor-picture img{
  width: 75px;
}

.comment-form-area {
  width: 100%;
}

.comment-form-submit-button {
  background-color: green;
  color: white;
  float: right;
  margin-top: 5px;
  border-radius: 3px;
}
.button {
  background-color: white;
  border-style: none;
  float: right;
}

.favorite-button{
  background-color: white;
  border-style: none;
  float: right;
}


.right-side-follow-button {
  float: right;
}

.follow-button {
  background-color: white;
  border-style: none;
  text-align: center;
}

.flash-notice-container {
  background-color: green;
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.flash-notice-container h1 {
  margin-top: 0;

}

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}

body{
  background-color: #666666;
}

h1{
  font-size: 25px;
}

#highlight {
  color: lightgreen;
  text-decoration: none;
}

.green {
  color: lightgreen;
  font-size: 16px;
}


