@import "navbar";
@import "navbar_links";
@import "homepage";
@import "join";
@import "login";


* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}

body{
  background-color: #666666;
}

h1{
  font-size: 25px;
}

#highlight {
  color: lightgreen;
  text-decoration: none;
}

.green {
  color: lightgreen;
  font-size: 16px;
}







/*-------- Dashboard ---------*/

.dash-flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.dash-flex1 {
  flex: 1;
  margin-top: 20px;
  min-width: 300px;
  padding: 0px 20px 0px 20px;

}
.dash-flex2 {
  flex: 3;
  min-width: 300px;
  background-color: white;
  padding: 5px 20px 0px 20px;
}

.dash-profile-picture img{
  width: 200px;
  text-align: center;

}
h1.rant-label {
  font-size: 34px;
  margin: 0;

}

.white-text a{
  color: whitesmoke;
  text-decoration: none;
}

.white-text {
  color: whitesmoke;
}

.rant-form-submit-button{
  background-color: green;
  color: white;
  border: thin solid gray;
  border-radius: 3px;
  font-weight: 300;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%
}

.rant-form-field{
  width: 100%;
  margin-bottom: 10px;
}

.rant-form-area{
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.a-rant-flex-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  margin-left: 5px;
  margin-bottom: 20px;

}
.font-10pt {
  font-size: 10pt;
  text-decoration: none;
  color: black;
  margin-top: 0;
  margin-bottom: 0px;

}

.a-rant-flex-left{
  width:20%;
  border: thin solid gray;

}
.a-rant-flex-right{
  width:80%;
  border: thin solid gray;
  padding-left: 15px;
  padding-right: 15px;
}

.end-of-latest-rant {
  max-width: 200px;
}

.latest-rant-container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}

.latest-rant-flex1 {
  flex: 1;
  margin: auto;
  text-align: center;
  max-width: 125px;
  min-width: 125px

}

.latest-rant-flex2 {
  flex: 5;
  margin-top: 20px;
}

.latest-rant-picture img {
  width: 100px;
  float: left;
  margin-left: 12px;
}

.delete {
  float: right;
  font-size: 10pt;
}

.align-left img{
  width: 100px;
  float: left;
  margin: 0 0 1em 1em;
}

.show-rant-image img{
  float: left;
  width: 100px;
}

.show-rant-text {
  word-wrap: break-word;
  max-width: 500px;
}

.favorite-button {
  float: right;
}

.latest-ranter-name a{
  text-decoration: none;
  font-size: 1.2em;
}